# include:
#     - docker-compose-openmetadata.yml

services:

    ranger-zk:
        container_name: ranger-zk
        networks:
            - ranger-network
        ports:
            - 2181:2181
        image: apache/ranger-zk:2.7.0

    ranger-solr:
        container_name: ranger-solr
        networks:
            - ranger-network
        ports:
            - 8983:8983
        image: apache/ranger-solr:2.7.0
        command: solr-precreate ranger_audits /opt/solr/server/solr/configsets/ranger_audits/

    ranger-db:
        container_name: ranger-db
        networks:
            - ranger-network
        healthcheck:
            test: su -c "pg_isready -q" postgres
            interval: 10s
            timeout: 2s
            retries: "30"
        image: apache/ranger-db:2.7.0

    ranger:
        container_name: ranger
        networks:
            - ranger-network
        environment:
            - RANGER_VERSION=2.7.0
            - RANGER_DB_TYPE=postgres
        ports:
            - 6080:6080
        image: apache/ranger:2.7.0
        command: /home/ranger/scripts/ranger.sh
        depends_on:
            - ranger-zk
            - ranger-solr
            - ranger-db
        volumes:
            - ./ranger/scripts:/home/ranger/scripts
            - ./ranger/certificate.pem:/home/ranger/certificate.pem

    trino:
        image: trinodb/trino:latest
        container_name: trino
        ports:
            - "8080:8080"
            - "8443:8443"
        volumes:
            - ./trino:/etc/trino
        environment:
            CATALOG_MANAGEMENT: dynamic
        depends_on:
            - postgres
            - mysql
            - ranger
        networks:
            - trino-network
            - ranger-network

    postgres:
        image: postgres:13
        container_name: trino-postgres
        environment:
            POSTGRES_USER: trino
            POSTGRES_PASSWORD: trino123
            POSTGRES_DB: analytics
        ports:
            - "5432:5432"
        networks:
            - trino-network

    mysql:
        image: mysql:8
        container_name: trino-mysql
        environment:
            MYSQL_ROOT_PASSWORD: rootpass
            MYSQL_DATABASE: sales
            MYSQL_USER: trino
            MYSQL_PASSWORD: trino123
        ports:
            - "3306:3306"
        networks:
            - trino-network

networks:
    trino-network:
    ranger-network: